env/
__pycache__/
*.pyc
*.pyo
.DS_Store
db.sqlite3
.env
visittrack_poo/billets_qr/
visittrack_poo/billets_pdf/
__pycache__/
*.pyc
env/
visittrack_poo/billets_qr/
visittrack_poo/billets_pdf/
__pycache__/
*.pyc
env/
